* {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
}

.content {
    margin-top: 30px;
}

.login_box1 {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    width: 200px;
    position: relative;
    top: -60px

}

.login_box2 {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    width: 200px;
}

.login_col {
    display: inline-block;
    max-width: 100px;
}

.login_row {
    margin-bottom: 5px;
}

.login_err {
    color: red;
}

a.button {
    padding-top: 15px;
}

.post {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    width: 30%;
    height: 200px;
    margin-left: 25%;
    display: inline-block;
}

.post .title_inp {
    display: inline-block;
	width: 100%;
    color: black;
}

.post .contents_inp {
    display: inline-block;
    width: 100%;
    min-height: 100px;
}

.post img {
    max-width: 80%;
    display: inline-block;
}

.menu {
    list-style: none;
}

.menu-item {
    display: inline-block;
}

#profile-info {
    overflow: hidden;
}

#profile-info img {
    max-width: 200px;
    max-height: 200px;
}

.author {
    display: inline-block;

}

.author-text {
    display: block;
    margin-left: 25%;
}

.image {
    display: inline-block;
}

.comment-box {
    display: inline-block;
}